* {
  font-family: "Liberation Sans", sans-serif;
}

#buttons, .round-result-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: 20px;
}

#score, #final-result-msg {
  text-align: center;
}

#score {
  font-size: 28px;
}

.round-result, .score-after-round {
  font-size: 16px;
}

.round-result {
  width: 250px;
}

.score-after-round {
  width: 50px;
  text-align: center;
}

#final-result-msg {
  font-size: 24px;
}
