* {
  font-family: "Liberation Sans", sans-serif;
}

#buttons, .round-result-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button, #score, .score-after-round, #final-result-msg {
  text-align: center;
}

#buttons > button {
  height: 50px;
  width: 100px;
  font-size: 20px;
}

#score {
  font-size: 28px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.round-num, .round-result, .score-after-round {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.round-num {
  width: 25px;
}

.round-result {
  width: 250px;
}

.score-after-round {
  width: 50px;
}

#final-result-msg {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#play-again {
  height: 50px;
  width: 100px;
  font-size: 16px;
  margin: 16px auto;
  display: block;
/* display has to be block for margin: auto to center */
}
